<ion-content [fullscreen]="true">
  <div id="primoLogo">
    <img src="assets/ContactReg.png"/>
    <p>En caso de necesitarte a quien podemos contactar:</p>
  </div>
  <form [formGroup] ="registerContactForm" (ngSubmit)="registerContact()">
    <div id="container">
      <ion-item color="ligth">
        <ion-label position="floating">Nombre de tu empresa:</ion-label>
        <ion-input formControlName="strRazonSocialControl" type="text"></ion-input>
      </ion-item>
      <ion-item color="ligth">
        <ion-label position="floating">NIT:</ion-label>
        <ion-input formControlName="strIdentificacionControl" type="text"></ion-input>
      </ion-item>
      <ion-item color="ligth">
        <ion-label position="floating">Fecha de fundación:</ion-label>
        <ion-datetime formControlName="dtmFechaFundacionControl"></ion-datetime>
      </ion-item>
      <ion-button color="medium" (click)="goBack()">ATRAS</ion-button>
      <ion-button color="medium" expand="block" (click)="registerContact()" [disabled]="!registerContactForm.valid">FINALIZAR</ion-button>
    </div>
  </form>
</ion-content>
